#animation{
    visibility: hidden;
}
.animation{
    visibility: visible !important;
    animation-fill-mode: both !important;
	-webkit-animation-fill-mode: both !important;
}
.replay{
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
}
.delay-02s{
    -webkit-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
}
.delay-04s{
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
}
.delay-06s{
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
}
.delay-08s{
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
}
.delay-1s{
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}
.delay-1-02s{
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
}
.delay-1-04s{
    -webkit-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
}
.delay-2s{
    -webkit-animation-delay: 2s !important;
    animation-delay: 2s !important;
}
.delay-3s{
    -webkit-animation-delay: 3s !important;
    animation-delay: 3s !important;
}

/*fade-in*/
.fade-in
{
    -webkit-animation: fade-in 1s;
            animation: fade-in 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
